/*.navbar-main {*/
    /*border-bottom: 1px solid #eee;*/
/*}*/

.navbar .container {
    border-bottom: 1px solid #e5e5e5;
}


.company .container {
    padding: 50px 35px;
}

.company h4 {
    font-size: 22px;
    font-weight: 400;
}

h5 {
    font-size: 16px;
    font-weight: 500;
}

.company .block {
    margin-bottom: 40px;
}

.contact {
    background-color: #f5f7f7;
    padding: 20px;
}

.company-name {
    color: #2258AE;
    font-weight: bold;
}

.company-logo img {
    height: 90px;
    padding: 20px 0;
}

.address {
    padding: 10px 0;
}

td:first-child {
    font-weight: 500;
    padding: 5px 10px 0 0;
}