.navbar {
    margin-bottom: 0;
}

.navbar-static-top {
    vertical-align: middle;
}

.navbar-brand img {
    height: 40px;
}

.product-image {
    display: inline-block;
}

.product-info {
    display: inline-block;
    padding: 0 20px;
    text-align: left;
    vertical-align: top;
}

.block {
    padding: 60px 0;
    text-align: center;
}

.block img {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.block.advantages .fa,
.block.advantages .glyphicon {
    font-size: 25px;
    margin: 50px 0 0;
}

.block.advantages p {
    color: #aaa;
    margin-top: 30px;
}

.block.companies img {
    opacity: .9;
    padding: 50px 30px 50px;
}
.block.clients img {
    opacity: .9;
    padding: 70px 70px 50px;
}


.company-block {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.company-block>.bg-color {
    background-color: rgba(0, 51, 153, 0.8);
}

.company-block .btn {
    background: none;
    border: 1px solid white;
}

.company-block .jumbotron {
    padding: 150px 0;
    text-align: left;
}

.company-block .jumbotron h1 {
    font-size: 50px;
    font-weight: 200;
}

.company-block .jumbotron h3 {
    font-size: 30px;
    font-weight: 100;
}

.company-block .logo {
    height: 80px;
}

.footer {
    background-color: #f5f7f7;
    color: #888;
    text-align: center;
}

.footer>.container {
    padding: 60px 15px 100px;
}

.footer h4 {
    margin-top: 0;
}

.footer-column {
    display: inline-block;
    margin-right: 40px;
    text-align: left;
    vertical-align: top;
}

.footer-logo {
    height: 40px;
}

.footer-column.about {
    width: 350px;
}