.navbar {
    margin-bottom: 0;
}

.navbar-static-top {
    /*height: 100px;*/
    vertical-align: middle;
}

.navbar-brand img {
    height: 40px;
}

.product-image {
    display: inline-block;
}

.product-info {
    display: inline-block;
    padding: 0 20px;
    text-align: left;
    vertical-align: top;
}

.block {
    border-bottom: 1px solid #eee;
}
.block img {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.company-block {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    min-height: 450px;
}

.company-block>.bg-color {
    min-height: 450px;
}

.company-block .btn {
    background: none;
    border: 1px solid white;
}

.company-block.medico-electrodes {
    background-image: url("../img/medico-electrodes/bg.jpg");
}

.company-block.medico-electrodes>.bg-color {
    background-color: rgba(51, 122, 183, 0.7);
}