.navbar-main {
    /*border-bottom: 1px solid #eee;*/
}

.navbar .container {
    /*border-bottom: 1px solid #e5e5e5;*/
}


.products .container {
    padding: 50px 15px;
}

.product {
    padding: 0 50px;
}

.product .company-name {
    color: #888;
    margin-bottom: 30px;
    text-align: center;
}

.product .type-name {
    line-height: 24px;
    margin-bottom: 0;
    margin-left: 60px;
    padding-left: 15px;
}

.product .img-circle {
    border: 1px solid #ccc;
    height: 50px;
    margin-top: 5px;
    width: 50px;
}

.product .models {
    font-size: 13px;
    padding-left: 75px;
    padding-bottom: 20px;
}

.product .fa {
    visibility: hidden;
    font-size: 10px;
    margin-left: 4px;
}

.product a:hover .fa {
    visibility: visible;
;
}
