/*.hero {*/
    /*background-image: url("../img/anders-2.png");*/
    /*background-size: cover;*/
    /*height: 250px;*/
/*}*/

.navbar {
    border-bottom: 1px solid #eee;
}

.bg-color {
    background-color: rgba(255,255,255,.3);
    height: 250px;
}

.product-nav {
    font-size: 13px;
    padding: 20px 0 40px;
}

.product-nav span {
    border-radius: 12px;
    color: #888;
    font-weight: 300;
    margin-bottom: 5px;
    margin-right: 5px;
    padding: 2px 6px;
}

.product-nav span i {
    font-size: 8px;
    line-height: inherit;
    margin-right: 3px;
}

.product-nav span.active {
    background-color: #DBE3E5;
    color: #337ab7;
    font-weight: 500;
}

/*.product-nav .navs span:nth-child(1) {*/
    /*color: #ef5350;*/
/*}*/

/*.product-nav .navs span:nth-child(2) {*/
    /*color: #7e57c2;*/
/*}*/

/*.product-nav .navs span:nth-child(3) {*/
    /*color: #42a5f5;*/
/*}*/

/*.product-nav .navs span:nth-child(4) {*/
    /*color: #26a69a;*/
/*}*/

/*.product-nav .navs span:nth-child(5) {*/
    /*color: #9ccc65;*/
/*}*/

/*.product-nav .navs span:nth-child(6) {*/
    /*color: #ffee58;*/
/*}*/

/*.product-nav .navs span:nth-child(7) {*/
    /*color: #ff7043;*/
/*}*/

/*.product-nav .navs span:nth-child(8) {*/
    /*color: #bdbdbd;*/
/*}*/

/*.product-nav .navs span:nth-child(9) {*/
    /*color: #78909c;*/
/*}*/
.block {
    padding: 40px 0;
    text-align: left;
}

.block.products .panel {
    border: 1px solid #ccc;
    border-radius: 0;
}

.block.products .panel-body {
    padding-left: 25px;
}

.block.products .panel .title {
    /*color: #2156AD;*/
    font-size: 16px;
    text-align: center;
}

.block.products .product-name {
    /*color: #2156AD;*/
    color: #aaa;
    padding-top: 20px;
}

.block.products .product-type {
    border-top: 1px solid #ddd;
    margin: 4px 0;
    padding: 10px 0;
}

.block.products .product .list-group-item {
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    color: #333;
    font-weight: 500;
    padding: 10px;
}

.block.products .product .list-group-item.active {
    background-color: white;
    border-color: #ddd;
    color: #337ab7;
}

.block.products .list-group-item .glyphicon {
    color: #888
}

.block.products .list-group-item.active .glyphicon {
    color: #337ab7;
}

.product-models {
    display: none;
}

.product-models>.name {
    margin-top: 0;
    margin-bottom: 20px;
}

.thumbnail img {
    height: 150px;
}

.thumbnail .caption {
    min-height: 158px;
}

.thumbnail h3 {
    color: #2358AE;
    font-size: 18px;
    margin-bottom: 5px;
}

.thumbnail h5 {
    color: #888;
    /*font-size: 20px;*/
    margin-top: 0;
}

.thumbnail p {
    font-size: 13px;
}
