.navbar.menu .navbar-collapse {
    border-bottom: 1px solid white;
}

.col-centered {
    padding: 0 20px;
}

.block.featured .navbar-nav {
    border-bottom: 1px solid rgba(255,255,255,.35);
    width: 100%;
}

.block {
    /*padding: 40px 0;*/
    text-align: left;
}

.block.featured {
    /*background-color: #80A5B5;*/
    /*background-color: #f5f7f7;*/
    /*color: white;*/
    /*color: #888;*/
    overflow: hidden;
    padding: 0;
    text-shadow: rgba(0, 0, 0, 0.1) 1px 1px 1px;
}

.block.featured .container {
    /*background-color: #19baf7;*/
    /*background: linear-gradient(90deg, #348ac7 10%, #E4F0FA 90%);*/
    background-image: -webkit-radial-gradient(center, ellipse closest-corner, rgba(16, 47, 70, 0) 60%, rgba(16, 47, 70, 0.1)),  -webkit-linear-gradient(105deg, rgba(38, 208, 207, 0.56), #348AC7 80%);
    color: white;
    padding: 0;
}

.block.featured .carousel {
    /*background: linear-gradient(90deg, #7474BF 10%, #348AC7 90%);*/
    /*background: linear-gradient(90deg, #348ac7 10%, #E4F0FA 90%);*/
    color: white;
    min-height: 420px;
}

.block.featured .content {
    background-color: white;
    border: 1px solid #eee;
    border-radius: 4px;
    padding: 30px 20px 20px;
}

.block.featured .info {
    height: 250px;
    text-align: left;
}

.block.featured .info p {
    font-size: 12px;
    /*color: #7f8c8d;*/
}

.block.featured .image {
    margin: 0 50px;
    /*height: 300px;*/
    width: 300px;
}

.block.featured .image.shadow {
    box-shadow: -1px 1px 5px rgba(18,18,18,.2);
}


.block.featured .name {
    margin-bottom: 0;
}

.block.featured .type {
    /*color: #888;*/
    margin-top: 0;
}
.block.featured li {
    /*color: #999999;*/
    font-size: 12px;
    font-weight: normal;
}

.block.featured-products .container {
    background-color: #e5e5e5;
}

.block.featured-products .row {
    padding: 20px 0;
}

.block.featured-products .product {
    background-color: white;
    /*border: 1px solid #ccc;*/
    margin-top: -50px;
    max-width: 245px;
    /*padding: 10px;*/
    z-index: 999;
}

.block.featured-products .image {
    /*background-color: #e5e5e5;*/
    /*background-image: -webkit-radial-gradient(closest-corner,rgba(128, 165, 181,0) 60%,rgba(16,47,70,0.2)),-webkit-linear-gradient(108deg,#e5e9bf 10%,#00396f 90%);*/
    background-image: -webkit-linear-gradient(108deg,#80a5b5 10%,#8098b5 90%);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding: 10px 40px 0;
}

.block.featured-products img {
    height: 150px;
}

.block.featured-products .info {
    font-size: 12px;
    padding: 5px 10px;
}

.block.featured-products .info h5 {
    margin-bottom: 0;
}

.sub-featured {
    padding: 0 20px;
    text-align: center;
}

.sub-featured img {
    /*width: 150px;*/
    width: 60%;
}

.sub-featured .info {
    /*border: 1px solid #e5e5e5;*/
    padding: 5px 10px;
    text-align: left;
}

.sub-featured .info div:first-child {
    color: #19baf7;
    font-weight: bold;
}

.sub-featured .info div:last-child {
    color: #888;
    font-size: 12px;
}

.block img {
    opacity: 0;
    transition: opacity 2s ease-in;
}

.block.advantages .fa,
.block.advantages .glyphicon {
    font-size: 25px;
    margin: 50px 0 0;
}

.block.advantages p {
    color: #aaa;
    margin-top: 30px;
}

.block.products img.logo {
    height: 20px;
    margin: 20px 0 10px;
}

.block.products .container {
    padding-bottom: 20px;
    padding-top: 20px;
}

.block.products .panel {
    /*border: 1px solid #ccc;*/
    /*border-radius: 0;*/
    box-shadow: none;
}

.block.products .panel-body {
    /*padding-left: 25px;*/
    padding: 0px;
}

.block.products .panel .title {
    /*color: #2156AD;*/
    font-size: 16px;
    /*text-align: center;*/
}

.block.products .product-name {
    /*color: #2156AD;*/
    color: #aaa;
    padding-top: 20px;
}

.block.products .product-type {
    /*border-top: 1px solid #ddd;*/
    margin: 4px 0;
    padding: 7px 0;
}

.block.products .product .list-group-item {
    border: none;
    border-radius: 0;
    border-left: 0;
    border-right: 0;
    color: #333;
    font-size: 12px;
    font-weight: 500;
    padding: 10px 0;
}

.block.products .glyphicon {
    color: #888
}

.block.clients img {
    opacity: .9;
    padding: 70px 70px 50px;
}


.company-block {
    background-image: url("../img/bg.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
}

.company-block>.bg-color {
    background-color: rgba(0, 51, 153, 0.8);
}

.company-block .btn {
    background: none;
    border: 1px solid white;
}

.company-block .jumbotron {
    padding: 150px 0;
    text-align: left;
}

.company-block .jumbotron h1 {
    font-size: 50px;
    font-weight: 200;
}

.company-block .jumbotron h3 {
    font-size: 30px;
    font-weight: 100;
}

.company-block .logo {
    height: 80px;
}

.glyphicon-menu-right {
    display: none;
}

.main-content {
    background-color: #f0f1f5;
    padding: 30px;
}

.partners {
    bottom: 0;
    left: 0;
    padding: 20px 0 60px;
    position: absolute;
    text-align: center;
    width: 100%;
}

.partners h4 {
    padding: 20px 0;
}

.partners span {
    padding: 0 30px;
}

.partners img {
    height: 20px;
}