.navbar {
    margin-bottom: 0;
}

.navbar.contacts {
    /*background-color: #faf0c7;*/
    line-height: 80px;
    /*min-height: 30px;*/
}

.navbar.contacts span {
    color: #002E51;
    font-size: 14px;
    font-weight: 500;
    margin: 0 20px;
}

.navbar.contacts .glyphicon {
    font-size: 13px;
    margin-right: 5px;
}

.navbar.menu .container {
    background-color: #348AC7;
}

.navbar-static-top {
    vertical-align: middle;
}

.navbar-brand img {
    height: 42px;
}

.footer {
    color: #888;
    text-align: center;
}

.footer>.container {
    background-color: #717b84;
    color: white;
    padding: 60px 15px 100px;
}

.footer h4 {
    margin-top: 0;
}

.footer-column {
    display: inline-block;
    font-size: 12px;
    margin-right: 40px;
    text-align: left;
    vertical-align: top;
}

.footer-logo {
    height: 40px;
}

.footer-column.about {
    width: 350px;
}